﻿@model FlightSearchAPP.Models.FlightSearch
@{
    ViewBag.Title = "flight search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("PerformFlightSearch", "Home", FormMethod.Post, new { @id = "FlightSearchForm" }))
{

    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label>Departure airport code</label>
            @Html.TextBoxFor(m => m.FlightSearchInput.DepartureAirportCode, new { @placeholder = "Departure airport code", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FlightSearchInput.DepartureAirportCode, "", new { @class = "text-danger" })

        </div>
        <div class="col-md-3 mb-3">
            <label>Arrival airport code</label>
            @Html.TextBoxFor(m => m.FlightSearchInput.ArrivalAirportCode, new { @placeholder = "Arrival airport code", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FlightSearchInput.ArrivalAirportCode, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3 mb-3">
            <label>Departure date</label>
            @Html.TextBoxFor(m => m.FlightSearchInput.DepartureDate, new { @placeholder = "Departure date", @class = "form-control datepicker" })
            @Html.ValidationMessageFor(m => m.FlightSearchInput.DepartureDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3 mb-3">
            <label>Return date</label>
            @Html.TextBoxFor(m => m.FlightSearchInput.ReturnDate, new { @placeholder = "Return date", @class = "form-control datepicker" })
            @Html.ValidationMessageFor(m => m.FlightSearchInput.ReturnDate, "", new { @class = "text-danger" })
        </div>



    </div>
    <button class="btn btn-primary" type="submit">Find flights</button>
}
@if (Model.FlightSearchOutputData != null && Model.FlightSearchOutputData.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Airline Logo</th>
                <th scope="col">Airline Name</th>
                <th scope="col">Inbound Flight Duration</th>
                <th scope="col">Outbound Flight Duration</th>
                <th scope="col">Total Amount($)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FlightSearchOutputData)
            {
                <tr>
                    <td>
                        @item.AirlineLogo
                    </td>
                    <td>
                        @item.AirlineName
                    </td>
                    <td>
                        @item.InboundFlightDuration
                    </td>
                    <td>
                        @item.OutboundFlightDuration
                    </td>
                    <td>
                        @item.TotalAmount
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
else if (Model.FlightSearchOutputData != null && Model.FlightSearchOutputData.Count == 0)
{ <div class="alert alert-warning" role="alert">
        We have not find flight details. Please try difrent search.
    </div>
}